@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Ms+Madi&display=swap');

:root{
  --transition: all 0.5s ease;
}
/*themes*/
.light-theme{
  --primary-color : #65B891;
  --secondary-color: #2F2235;
  --neutral-light: rgb(186, 201, 190);
  --very-light-color: #effff6;
  --neutral-dark: #ffffff;
}

.girl-theme{
  --primary-color : #CB0040;
  --secondary-color: #f88272;
  --very-light-color: #351727;
  --neutral-light: #ecd2f263;
  --neutral-dark: #2C1320;
}

.nature-theme{
  --primary-color : ;
  --secondary-color: ;
  --neutral-light: ;
  --neutral-dark: ;
}

.dark-theme{
  --primary-color : #607B7D;
  --secondary-color: #8f9c96;
  --neutral-light: #b3b4b3b4;
  --very-light-color: #222;
  --neutral-dark: #161616;
}
/*End themes*/


/*Generale rules*/
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1{
  font-size: 45px;
  line-height: 1.2;
  letter-spacing: 2px;
  margin: 0;
  padding:0;
}

@media (max-width: 992px) and (min-width: 768px){
  h1{
    font-size: 40px;
  }
}

@media (max-width: 768px){
  h1{
    font-size: 30px;
  }
}

button,
.btn{
  cursor: pointer;
  border: none;
  border-radius: 5px;
  letter-spacing: 1.5px;
  transition: var(--transition);
}

button:hover,
.btn:hover{
  transform: scale(1.08);
}

button:active,
.btn:active{
  transform: scale(0.9);
}

a{
  text-decoration: none;
  display: block;
  cursor: pointer;
}

img{
  max-width: 100%;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

._flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  background-color: var(--neutral-dark);

}

main{
  min-height: calc(100vh - 210px);
  margin-top: 90px;
}

.container {
  width: 90vw;
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1050px;
}
/*End generale rules*/

